{% extends 'general/navigation_base.html' %}

{% block title %}
Change Password | Jobs.is-very.fun
{% endblock %}

{% block header %}
{{ super() }}
{% if check_captcha %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endif %}
{% endblock %}

{% block body %}
{{ super() }}
<div class="container homePageSpacer"></div>
<div class="container bg-none">
    <div
         class="d-flex mx-auto mx-md-5 mt-md-3 justify-content-center align-items-baseline text-nowrap">
        <p class="userControlsTitleText">Change Password</p>
    </div>
    <hr class="mx-5" style="color:white;" />
    <div
         class="d-flex mx-auto mx-md-5 mt-md-3 justify-content-center align-items-baseline text-wrap">
        <p class="userControlsText1">Please fill out the form to change your
            password.
    </div>
    <div class="d-flex mx-auto justify-content-center text-wrap">
    </div>
    <hr class="mx-5" style="color:white;" />
    <div
         class="d-flex mx-auto mx-md-5 mt-md-3 justify-content-center align-items-baseline text-wrap">
        {% if form %}
        <form class="border border-info rounded-3 px-3 pb-2"
              id="userPasswordResetForm" method="POST"
              action="{{ url_for('user.change_password') }}">
            {{ form.hidden_tag() }}
            <div class="form-row align-items-center">
                {% for field in form %}
                {% if field.widget.input_type != 'hidden' and
                field.widget.input_type != 'submit' %}
                <div class="form-floating-lg">
                    {{ field.label( class="text-light mt-2 h5") }}
                    {{ field( class="form-control py-3" ) }}
                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <br />
            {% if check_captcha %}
            <div class="g-recaptcha my-1"
                 data-sitekey="{{recaptcha_v2_client}}"></div>
            {% endif %}

            <div class="form-group text-white">
                {{form.submit()}}

                <button type="submit"
                        class="btn btn-primary bg-danger text-light py-4 px-5 h6"
                        onclick="location.href='/'">
                    Cancel
                </button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}
